<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AERYS TARGARYEN</string>
	<string>BLACKFYRE REBELLION</string>
	<string>JON SNOW</string>
	<string>ARYA STARK</string>
	<string>NED STARK</string>
	<string>THE KNIGHTS WATCH</string>
	<string>DIREWOLF</string>
	<string>DOTHRAKI</string>
	<string>FAITH OF THE SEVEN</string>
	<string>HAND OF THE KING</string>
	<string>JAIME LANNISTER</string>
	<string>CERSEI LANNISTER</string>
	<string>KING IN THE NORTH</string>
	<string>IRON THRONE</string>
	<string>KHALEESI</string>
	<string>MAESTER</string>
	<string>KINGS LANDING</string>
	<string>WINTERFELL</string>
	<string>RHLLOR</string>
	<string>UNSULLIED</string>
	<string>VALAR MORGHULIS</string>
	<string>WESTEROS</string>
	<string>HOUSE LANNISTER</string>
	<string>HOUSE TYRELL</string>
	<string>HOUSE ARRYN </string>
	<string>HOUSE TARGARYEN</string>
	<string>HOUSE MARTEL</string>
	<string>HOUSE BARATHEON</string>
	<string>THREE EYED RAVEN</string>
	<string>BRONN OF THE BLACKWATER</string>
	<string>IRON ISLANDS</string>
	<string>THE RIVERLANDS</string>
	<string>DORNE</string>
	<string>THE STROMLANDS</string>
	<string>THE VALE</string>
	<string>THE WESTERLANDS</string>
	<string>FACELESS MEN</string>
	<string>FAITH MILITANT</string>
	<string>SONS OF THE HARPY</string>
	<string>BRAVOS</string>
	<string>IRON BANK</string>
	<string>LITTLE BIRDS</string>
	<string>BROTHERHOOD WITHOUT BANNERS</string>
	<string>CITY WATCH</string>
	<string>QOHOR</string>
	<string>ESSOS</string>
	<string>VALYRIA</string>
	<string>VALYRIAN STEEL</string>
	<string>ASTAPOR</string>
	<string>SLAVERS BAY</string>
	<string>CASTLE BLACK</string>
	<string>RED WEDDING</string>
	<string>DRAGONSTONE</string>
	<string>CASTERLY ROCK</string>
	<string>IRON FLEET</string>
	<string>HOUSE GREYJOY</string>
	<string>EURON GREYJOY</string>
	<string>TYRION LANNISTER</string>
	<string>MELISANDRE</string>
	<string>TORMUND</string>
	<string>YARA GREYJOY</string>
	<string>BRIENNE OF TARTH</string>
	<string>DAVOS SEAWORTH</string>
</array>
</plist>
